<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="IPT_A_2Entities" connectionString="metadata=res://*/IPT3Entities.csdl|res://*/IPT3Entities.ssdl|res://*/IPT3Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IPT_A_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IPT_A_2Entities1" connectionString="metadata=res://*/IPT3.csdl|res://*/IPT3.ssdl|res://*/IPT3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IPT_A_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IPT_A_2DbContext" connectionString="metadata=res://*/IPT3Entites.csdl|res://*/IPT3Entites.ssdl|res://*/IPT3Entites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IPT_A_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>